

<div class="container">
    <h4 class="text-center" >Dnevna Ponuda</h4>
    <h3 class="text-center">PONEDJELJAK 24.09.2018</h3>
    <div class="row">
        <div  class="col pt-4 pb-4" align="center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Glavna jela</h5>
                  <p class="card-text">1. Pohani File Oslića, Krumpir Salata .... 33 kn</p>
                  <p class="card-text">2. Pastrva Sa Žara, Blitva .... 33 kn</p>
                  <p class="card-text">3. Brancin Sa Žara, Blitva .... 45 kn</p>
                  <p class="card-text">4. Oslić A LA Bakalar .... 33 kn</p>
                  <p class="card-text">5. Pileći File sa Žara s Prilogom .... 33 kn</p>
                  <p class="card-text">6. Pileći Zagrebački s Prilogom .... 33 kn</p>
                  <p class="card-text">7. Pureći Bečki s Prilogom s Prilogom .... 38 kn</p>
                  <p class="card-text">8. Lungić Sa Žara s Prilogom .... 38 kn</p>
                  <p class="card-text">9. Pureći File Sa Žara S Prilogom .... 33 kn</p>
                  <p class="card-text">10. Riblja Juha .... 33 kn</p>
                  <p class="card-text">11. Zelje Salata .... 33 kn</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row" >
      <div  class="col" align="center"><h1>+</h1></div>
    </div>
    <div class="row">
        <div  class="col pt-4 pb-4" align="center">
        <div class="card" align="center" style="width: 18rem;">
          
            <div class="card-body">
                <h5 class="card-title">Prilozi</h5>
              <p class="card-text">RESTANI KRUMPIR</p>
              <p class="card-text">RIŽA SA POVRĆEM</p>
              <p class="card-text">POMFRIT</p>
              <p class="card-text">KRUMPIR SALATA</p>
              
            </div>
          </div>
          </div>
  </div>
  <div class="row" >
      <div  class="col" align="center"><h1>=</h1></div>
    </div>
  <div class="row" >
      <div  class="col pt-2 pb-4" align="center"><button type="button" class="btn btn-primary  btn-lg" routerLink="/order">Naruči</button></div>
    </div>
</div>
